astroid==3.0.1
cfgv==3.4.0
colorama==0.4.6
dill==0.3.7
distlib==0.3.7
filelock==3.12.4
identify==2.5.30
isort==5.12.0
mccabe==0.7.0
nodeenv==1.8.0
platformdirs==3.11.0
pre-commit==3.5.0
pylint==3.0.2
PyYAML==6.0.1
tomli==2.0.1
tomlkit==0.12.1
typing_extensions==4.8.0
virtualenv==20.24.6
ultralytics>=8.0.221
ipyplot==1.1.1